<div class="card-container">
  <h1 mat-dialog-title>
    {{ deleteClicked ? "Delete Account" : "Confirm Changes" }}
  </h1>
  <div mat-dialog-content>
    <p>
      {{
        deleteClicked
          ? "Are you sure you want to delete your account? This action cannot be undone."
          : "Please enter your current password:"
      }}
    </p>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        [(ngModel)]="password"
        type="password"
        required
        placeholder="Enter your password"
      />
    </mat-form-field>
    <p *ngIf="passwordError" class="error-message">{{ passwordError }}</p>
  </div>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      color="warn"
      (click)="dialogRef.close()"
      class="cancel-button"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      class="confirm-button"
      (click)="verifyPassword()"
      cdkFocusInitial
    >
      Confirm
    </button>
  </div>
</div>
