/* Dialog title styles */
h1 {
  color: #eb4f2d !important;
  font-weight: 700 !important;
  font-size: 1.5rem !important;
  text-align: center;
  margin-bottom: 15px;
}

/* Dialog content styles */
p {
  color: #ffffff;
  margin-top: 10px;
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}

.error-message {
  color: red;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
}

/* Dialog actions styles */
.mat-dialog-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cancel-button {
  margin-right: 10px;
  background-color: #f44336;
  margin-bottom: 20px;
}

.confirm-button {
  background-color: #007cfa;
  color: #fff;
  margin-bottom: 20px;
}

/* Card container styles */
.card-container {
  background-color: #181a1d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid #ffffff;
}
