<div class="dialog-container">
  <h2 class="dialog-title">{{ data.title }}</h2>
  <button class="dialog-close-button" mat-icon-button (click)="onCloseClick()">
    <mat-icon>close</mat-icon>
  </button>
  <div
    mat-dialog-content
    class="backdrop"
    [style.background-image]="'url(' + data.backdropImage + ')'"
    >
    <div class="scroll-container">
      @if (data.genre) {
        <p>
          <strong>{{ data.genre }}:</strong> {{ data.message }}
        </p>
      }
      @if (!data.genre) {
        <p>{{ data.message }}</p>
      }
    </div>
  </div>
  <!-- An overlay to darken the background -->
  <div class="overlay"></div>
</div>
