.form-card {
  background-color: #181a1d !important;
  border: 1px solid #fff;
  min-height: 300px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.input-field {
  width: 100%;
  max-width: 300px;
}

.login-button {
  background-color: #007cfa;
  margin-bottom: 15px;
}

.error-message {
  margin-top: 8px;
  color: #f44336;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-text {
  margin-left: 10px;
  color: #007cfa;
  font-weight: 700;
}
