<div class="card-container">
  <mat-card class="form-card">
    <!-- Header for displaying logo -->
    <mat-card-header class="center-content">
      <img src="../../assets/images/TextLogo.png" alt="My Flix" />
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registrationForm" class="form-container">
        <!-- Inputs for username, password, email, and birthday -->
        <div class="form-content">
          <mat-form-field class="input-field">
            <input
              matInput
              formControlName="Username"
              placeholder="Username"
              type="text"
              />
              @if (
                registrationForm.controls['Username'].invalid &&
                registrationForm.controls['Username'].touched
                ) {
                <div
                  class="error-message"
                  >
                  @if (
                    registrationForm.controls['Username'].hasError('required')
                    ) {
                    <mat-error
                      >
                      Username is required.
                    </mat-error>
                  }
                  @if (
                    registrationForm.controls['Username'].hasError('minlength')
                    ) {
                    <mat-error
                      >
                      Username must be at least 5 characters long.
                    </mat-error>
                  }
                  @if (
                    registrationForm.controls['Username'].hasError('pattern')
                    ) {
                    <mat-error
                      >
                      Username must be alphanumeric.
                    </mat-error>
                  }
                </div>
              }
            </mat-form-field>
            <mat-form-field class="input-field">
              <input
                matInput
                formControlName="Password"
                type="password"
                placeholder="Password"
                />
                @if (
                  registrationForm.controls['Password'].invalid &&
                  registrationForm.controls['Password'].touched
                  ) {
                  <div
                    class="error-message"
                    >
                    @if (
                      registrationForm.controls['Password'].hasError('required')
                      ) {
                      <mat-error
                        >
                        Password is required.
                      </mat-error>
                    }
                  </div>
                }
              </mat-form-field>
              <mat-form-field class="input-field">
                <input
                  matInput
                  formControlName="Email"
                  type="email"
                  placeholder="Email"
                  />
                  @if (
                    registrationForm.controls['Email'].invalid &&
                    registrationForm.controls['Email'].touched
                    ) {
                    <div
                      class="error-message"
                      >
                      @if (registrationForm.controls['Email'].hasError('required')) {
                        <mat-error
                          >
                          Email is required.
                        </mat-error>
                      }
                      @if (registrationForm.controls['Email'].hasError('email')) {
                        <mat-error
                          >
                          Email must be a valid email format.
                        </mat-error>
                      }
                    </div>
                  }
                </mat-form-field>
                <mat-form-field class="input-field">
                  <input
                    matInput
                    formControlName="Birthday"
                    type="date"
                    placeholder="Birthday"
                    />
                    @if (
                      registrationForm.controls['Birthday'].invalid &&
                      registrationForm.controls['Birthday'].touched
                      ) {
                      <div
                        class="error-message"
                        >
                        @if (
                          registrationForm.controls['Birthday'].hasError('required')
                          ) {
                          <mat-error
                            >
                            Birthday is required.
                          </mat-error>
                        }
                      </div>
                    }
                  </mat-form-field>
                </div>
              </form>
            </mat-card-content>

            <!-- Submit button for user registration -->
            <mat-card-actions class="center-content">
              <button
                mat-raised-button
                [disabled]="registrationForm.invalid"
                (click)="registerUser()"
                class="signup-button"
                >
                Sign Up
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
